.navbar-container {
    background-color: rgb(153, 193, 245);
    margin-bottom: 50px;
    border-bottom: 1px solid black;
}

.navbar {
    max-width: 960px;
    margin: auto;
}

.logo {
    font-weight: normal;
    margin: 0 auto;
}

/* .navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
    opacity: .5;
} */